{% extends 'base.html' %}
{% load static %}
{% block title %}{{ category.shoper_id }}{% endblock title %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body shadow">
            <a href="#" class="btn btn-primary">Update Locally</a>
            <a href="#" class="btn btn-primary">Pull Update from
                Shoper</a>
                <a href="#" class="btn btn-primary">Send Update to
                    Shoper
                </a>
        </div>
    </div>
    <!--  -->
    <div class="row mt-5">
        <div class="col">
            <div class="cold-md">
                <div class="card text-center mb-3 shadow">
                    <div class="card-header">
                        <h5 class="card-title p-2">Category Data:</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">Category ID: {{ category.shoper_id }}</li>
                            <li class="list-group-item">Is Parrent ?: {{ category.shoper_category_is_root }}</li>
                            <li class="list-group-item">Order: {{ category.shoper_order }}</li>
                            <li class="list-group-item">Category Name: {{ category.shoper_current_name }}</li>
                            <li class="list-group-item">Created Locally: {{ category.created }}</li>
                            <li class="list-group-item">Updated Locally: {{ category.updated }}</li>           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 shadow">
                    <div class="card-header">
                        <h5 class="card-title p-2">Category Translations:</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for translation in related_translations %}
                            <li class="list-group-item">
                                {% if translation.active == 1 %}
                                <a href="#" class="list-group-item list-group-item-action link-success" aria-current="true">
                                    {{ translation.name }}
                                </a>
                                {% else %}
                                <a href="#" class="list-group-item list-group-item-action link-danger" aria-current="true">
                                    {{ translation.name }}
                                </a>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 shadow">
                    <div class="card-header">
                        <h5 class="card-title p-2">Category Products:</h5>
                    </div>
                    <div style="max-height: 300px;" class="card-body overflow-auto">
                        <ul class="list-group">
                            {% for product in related_products %}
                            <li class="list-group-item">
                                <a href="{{ product.get_absolute_url }}" class="list-group-item list-group-item-action" aria-current="true">
                                    {{ product.shoper_sku }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="cold-md">
                <div class="card text-center mb-3 shadow">
                    <div class="card-header">
                        <h5 class="card-title p-2">Number of Products:</h5>
                    </div>
                    <div class="card-body">
                        <h5>{{ related_products_number }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 shadow">
                    <div class="card-header">
                        <h5 class="card-title p-2">Category Some 2:</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
{% endblock content %}