{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.id }}{% endblock title %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body shadow">
            <a href="#" class="btn btn-primary">Update</a>
            <a href="{% url 'products:product-from-shoper-update' product.id %}" class="btn btn-primary">Update from
                Shoper</a>
            <a href="#" class="btn btn-primary">Create
                Language
                Copy at Shoper</a>
            <a href="#" class="btn btn-info">Add to Collection</a>
            <a href="#" class="btn btn-info">Parrent Category</a>
        </div>
    </div>
    <!--  -->
    <div class="row mt-5">
        <div class="col">
            <div class="cold-md">
                <div class="card text-center mb-3 shadow">
                    <div class="card-header">
                        <h5 class="card-title p-2">Product Data:</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">Shoper ID: {{ product.shoper_id }}</li>
                            <li class="list-group-item">Shoper EAN: {{ product.shoper_ean }}</li>
                            <li class="list-group-item">Shoper SKU: {{ product.shoper_sku }}</li>
                            <li class="list-group-item">Shoper Promo Price: <span class="link-danger">
                                    {{ product.shoper_promo_price }}</span></li>
                            <li class="list-group-item">Shoper Tax ID: {{ product.shoper_tax_id }}</li>
                            <li class="list-group-item">Shoper Other Price: {{ product.shoper_other_price }}</li>
                            <li class="list-group-item">Shoper Updated: {{ product.updated_shoper }}</li>
                            <li class="list-group-item">Main Category ID: {{ product.shoper_category_id }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 shadow">
                    <div class="card-header">
                        <h5 class="card-title p-2">Product Marketing:</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">Shoper Bestseller: {{ product.shoper_bestseller_tag }}</li>
                            <li class="list-group-item">Shoper New Product: {{ product.shoper_new_product_tag }}</li>
                            <li class="list-group-item">Current Promo ID: {{ product.shoper_promo_id }}</li>
                            <li class="list-group-item">Promo Starts: {{ product.shoper_promo_start }}</li>
                            <li class="list-group-item">Promo Ends: {{ product.shoper_promo_ends }}</li>
                            <li class="list-group-item">Discount value:
                                <span class="link-danger" style="font-weight: 900;">
                                    {{ product.shoper_discount_value }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 shadow">
                    <div class="card-header">
                        <h5 class="card-title p-2">Images:</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group ">
                            {% for x in related_images %}
                            <li class="list-group-item list-group-item-action">{{ x }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="cold-md">
                <div class="card text-center mb-3 shadow">
                    <div class="card-header">
                        <h5 class="card-title p-2">Product's Stock:</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">Stock ID: {{ related_stock.shoper_stock_id }}</li>
                            <li class="list-group-item">Related Product ID: {{ related_stock.shoper_stock_product_id }}
                            </li>
                            <li class="list-group-item">Stock Price:
                                <span class="link-primary">{{ related_stock.shoper_stock_price }}</span>
                            </li>
                            <li class="list-group-item">Active:{% if related_stock.shoper_stock_active == 1 %}
                                <span class="link-success">Yes</span>
                                {% else %} <span class="link-danger">No</span>{% endif %}
                            </li>
                            <li class="list-group-item">Default: {{ related_stock.shoper_stock_default }}</li>
                            <li class="list-group-item">Number of items: {{ related_stock.shoper_stock_value }}</li>
                            <li class="list-group-item">Warn level: {{ related_stock.shoper_stock_warn_level }}</li>
                            <li class="list-group-item">Availability ID:
                                {{ related_stock.shoper_stock_availability_id }}
                            </li>
                            <li class="list-group-item">Delivery ID: {{ related_stock.shoper_stock_delivery_id }}</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 shadow">
                    <div class="card-header">
                        <h5 class="card-title p-2">Collections Data:</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">Shoper Active: {{ product.is_active_shoper }}</li>
                            <li class="list-group-item">Shoper Updated: {{ product.updated_shoper }}</li>
                            <li class="list-group-item">Local Updated: {{ product.updated }}</li>
                            <li class="list-group-item">Shoper Active: {{ product.is_active_shoper }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 shadow">
                    <div class="card-header">
                        <h5 class="card-title p-2">Translations:</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for x in related_translations %}
                            {% if x.active == 1 %}

                            <li class="list-group-item list-group-item-action"
                                style="background-color: rgb(103, 233, 233);">{{ x.locale }}
                                {% if x.seo_url == "" %}<span class="badge rounded-pill text-bg-success"
                                    style="color: black;">SEO!</span>
                                {% endif %}
                            </li>
                            {% else %}
                            <li class="list-group-item list-group-item-action"
                                style="background-color: rgb(231, 105, 117);">{{ x.locale }}
                                {% if x.seo_url == "" %}<span class="badge rounded-pill text-bg-success">SEO!</span>
                                {% endif %}
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
{% endblock content %}