{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.id }}{% endblock title %}
{% block content %}
<div class="container">
    <h1>{{ product.shoper_title_pl }}</h1>
    <div class="card">
        <div class="card-body">
            <a href="#" class="btn btn-primary">Update</a>
            <a href="{% url 'products:product-from-shoper-update' product.id %}" class="btn btn-primary">Update from
                Shoper</a>
            <a href="{% url 'products:product-create-language-copy' product.id %}" class="btn btn-primary">Create
                Language
                Copy at Shoper</a>
        </div>
    </div>
    <!--  -->
    <div class="row mt-5">
        <div class="col">
            <div class="cold-md">
                <div class="card text-center mb-3 shadow">
                    <div class="card-header">
                        <h5 class="card-title p-2">Product Data:</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">Shoper ID: {{ product.shoper_id }}</li>
                            <li class="list-group-item">Shoper EAN: {{ product.shoper_ean }}</li>
                            <li class="list-group-item">Shoper SKU: {{ product.shoper_sku }}</li>
                            <li class="list-group-item">Shoper Promo Price: {{ product.shoper_promo_price }}</li>
                            <li class="list-group-item">Shoper Other Price: {{ product.shoper_other_price }}</li>
                            <li class="list-group-item">Shoper Updated: {{ product.updated_shoper }}</li>
                            <li class="list-group-item">Local Updated: {{ product.updated }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 shadow">
                    <div class="card-header">
                        <h5 class="card-title p-2">Product Marketing:</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">Shoper Bestseller: {{ product.shoper_bestseller_tag }}</li>
                            <li class="list-group-item">Shoper New Product: {{ product.shoper_new_product_tag }}</li>
                            <li class="list-group-item">Local Updated: {{ product.updated }}</li>
                            <li class="list-group-item">Shoper Active: {{ product.is_active_shoper }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 shadow">
                    <div class="card-header">
                        <h5 class="card-title p-2">Images:</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for x in product.image_set.all %}
                            <li class="list-group-item">{{ x }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="cold-md">
                <div class="card text-center mb-3 shadow">
                    <div class="card-header">
                        <h5 class="card-title p-2">Product Important:</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">Shoper ID: {{ product.shoper_id }}</li>
                            <li class="list-group-item">Shoper EAN: {{ product.shoper_ean }}</li>
                            <li class="list-group-item">Shoper SKU: {{ product.shoper_sku }}</li>
                            <li class="list-group-item">Shoper Stock Price: {{ product.shoper_stock_price }}</li>
                            <li class="list-group-item">Shoper Other Price: {{ product.shoper_other_price }}</li>
                            <li class="list-group-item">Shoper Stock Volume: {{ product.shoper_vol_weight }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 shadow">
                    <div class="card-header">
                        <h5 class="card-title p-2">Product Minor:</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">Shoper Active: {{ product.is_active_shoper }}</li>
                            <li class="list-group-item">Shoper Updated: {{ product.updated_shoper }}</li>
                            <li class="list-group-item">Local Updated: {{ product.updated }}</li>
                            <li class="list-group-item">Shoper Active: {{ product.is_active_shoper }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 shadow">
                    <div class="card-header">
                        <h5 class="card-title p-2">Translations:</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for x in product.producttranslation_set.all %}
                            {% if x.active == 1 %}

                            <li class="list-group-item" style="background-color: rgb(103, 233, 233);">{{ x.locale }}
                            </li>
                            {% else %}
                            <li class="list-group-item" style="background-color: rgb(231, 105, 117);">{{ x.locale }}
                                {% if x.seo_url == "" %}<span class="badge rounded-pill text-bg-success">SEO!</span>
                                {% endif %}
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
{% endblock content %}